/* .listElContact{ */
    /* background-color:bisque;
    border: 2px solid black;
    border-radius: 10px;
    padding:10px;
    margin: 10px;
    display: flex; */
    /* display: flex;
align-items: center; */
/* justify-content: space-between; */
/* padding: 8px;
margin: 2px 0;
border: 1px solid rgb(255, 255, 255);
border-radius: 5px;
}; */

/* .btnContact{
    border-radius: 50%;
    padding: 16px;
    border: none;
    color: black;
    background-color: #FFFACD;

    &:hover {
     background-color: #FFE4B5;
    }
}; */